body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background similar to Bootstrap */
    margin: 0;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

textarea {
    width: 300px;
    height: 150px;
}

/* Additional spacing for the message alert at the top */
#message {
    margin-bottom: 20px;
}